html {
    background-color: pink;
}

body {
    display: block;
    margin: 0 auto;
    width: 45%;
}

header {
    text-align: center;
    color: white;
}

header:hover {
    color: black
}

p {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 70%;
}

h3 {
    color: white;
    text-align: center;
}

nav {
    font-weight: bolder;
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-bottom: 10px;
}

.quote {
    font-size: 2em;
}

footer p {
    color: black;
    font-size: 1em;
}