body {
    background-color: black;
}

.card {
    background-color: white;
    width: 325px;
}

.grid {
    background-color: #6A80A5;
    width: 325px;
    color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
}

.grid_one {
    grid-column: 1/2;
    width: 100px;
    height: 100%;
    border: solid 1 px grey;
    border-bottom: none;
    border-top: none;
}

.grid_two {
    grid-column: 2/3;
    width: 100px;
    height: 100%;
    border: solid 1 px grey;
    border-bottom: none;
    border-top: none;
}

.grid_three {
    grid-column: 3/4;
    width: 100px;
    height: 100%;
    border: solid 1 px grey;
    border-bottom: none;
    border-top: none;
}