@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
    background-color: #DCE2BD;
    margin: 5%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h2 {
    font-family: "Maven Pro";
    font-size: 35px;
    color:#002645;
}

h3 {
    font-family: Lato;
    font-size: 20px;
    color:#002645;
}

h4 {
    font-family: Lato;
    font-size: 15px;
    color:#002645;
}

p {
    padding: 15px;
}

.intro {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    width: 100%;
}

img {
    margin: 5px;
    width: 400px;
}

.home_image {
    grid-column: 2/4;
    grid-row: 1/4;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    background-color: #002645;
    font-family: "Maven Pro";
    font-size: 20px;
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.sub-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B8C5A;
    color: #CFD186;
    text-align: center;
    font-family: "Playpen Sans", sans-serif;
    font-size: 20px;
}
