html {
    background-color: #F2D0A9;
}

h2 {
    color: #4a3b76;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a3b76;
    color: #F2D0A9;
    text-align: center;
    font-family: "Playpen Sans", sans-serif;
    font-size: 20px;
}

nav a:hover {
    background-color: #D88C9A;
    color: #4a3b76;
}

nav a {
    color: #F2D0A9;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 500px;
}