body {
    background-color: #f3f9d2; 
    text-align: center;
}
 
nav {
    display: flex;
    background-color: #2f2f2f;
    padding: 5px;
}

img {
    background-color: #2f2f2f;
}

a {
    background-color: #93827f;
    text-decoration: none;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    color: #2f2f2f;
    text-align: center;

}

.background {
    background-color: #92b4a7;
}

#primary {
    background-color: #92b4a7;
}